scipy
seaborn
numpy
sympy
widgetsnbextension
notebook
jupyterlab
jupyterlab-git
beautifulsoup4
cython
dask
h5py
ipywidgets
ipympl
matplotlib
opencv-python
pandas
pillow
metakernel
bash_kernel
plotly
jupyterlab-drawio
tqdm
kaleido
pyppeteer
jupyter-book
